<nav class="navbar navbar-expand-lg navbar-rt px-4">
    <span class="nav-brand navbar-brand">RINCON DE LOS TESOROS</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuNavbar" >
        <div class="navbar-nav mx-auto d-flex gap-5">
            <a routerLink="/inicio" class="nav-link-rt">INICIO</a>
            <a routerLink="/promociones" class="nav-link-rt">PROMOCIONES</a>
            <a routerLink="/contacto" class="nav-link-rt">CONTACTO</a>
        </div>

    </div>
    <span *ngIf="Usuario" class="text-white me-2">{{ Usuario.nombre }}</span>
    <button class="btnInicioSesion" (click)="Usuario ? logOut() : logIn()">
        {{ textoBoton }}
    </button>
    <div class="overlay" *ngIf="iniciarSesion">
        <div class="login-card p-4 text-center">
            <h4>Iniciar Sesion</h4>
            <input type="text" [(ngModel)]="nombre" placeholder="Nombre" class="form-control mb-3">
            <p *ngIf="error" class="text-danger mt-1">{{ error }}</p>
            <button class="boton-azul" (click)="guardarSesion()">Entrar</button>
        </div>
    </div>
</nav>

<ng-content></ng-content>
