<div class="card-producto">
    
    <div class="card-info">
        <img [src]="'https://rincon-de-los-tesoros-server.onrender.com/img/' + producto.imagen">
        
        <h3>{{ producto.nombre }}</h3>
        <p>{{producto.precio | currency:'USD'}}</p>
    </div>
    <div class="card-botones">
        <button [disabled]="!producto.disponibilidad" (click)="agregarCarrito()">{{producto.disponibilidad ? 'Agregar al Carrito' : 'No Disponible'}}</button>
        
        <button (click)="verDetalle()">más...</button>
    </div>
    
</div>

<app-alert
  *ngIf="mostrarAlert"
  [tipo]="tipoAlert"
  [mensaje]="mensajeAlert"
  (cerrar)="mostrarAlert = false">
</app-alert>

