<footer class="footer-rt">
  <div class="footer-container">

    <div class="footer-brand">
      <h2>RinconTesoros</h2>
      <p>El rincón donde los sueños se hacen realidad</p>
    </div>

    <div class="footer-links">
      <a [routerLink]="['/inicio']" class="footer-link">Inicio</a>
      <a [routerLink]="['/carrito']" class="footer-link">Carrito</a>
      <a [routerLink]="['/contacto']" class="footer-link">Contacto</a>
    </div>

    

  </div>

  <div class="footer-bottom">
    <p>© 2026 RinconTesoros - Todos los derechos reservados</p>
  </div>
</footer>
